.transactionContainer {
  padding: 4rem;
}

@media (max-width: 768px) {
  .transactionContainer {
    margin-top: 1rem;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .transactionContainer {
    margin-top: 1rem;
    padding: 1rem;
  }
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

@media (max-width: 768px) {
  .filterContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.tableActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.searchInput {
  width: 100%;
  padding: 10px 1rem;
  border: 1px solid var(--color-border-darker);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
  max-width: 25rem;
}

.searchInput:focus {
  border-color: var(--color-text-primary);
}

.filterDropdown {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-border-darker);
  background: white;
  max-width: 12.5rem;
  width: 100%;
  outline: none;
  transition: border-color 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m3 4.5 3 3 3-3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  box-sizing: border-box;
}

.filterDropdown:focus {
  border-color: var(--color-text-primary);
  outline: none;
  background-color: #fff;
}

.filterDropdown:focus-visible {
  outline: none;
  border-color: var(--color-text-primary);
}

.filterDropdown:active {
  color: var(--color-text-primary);
  background-color: #fff;
}
