.sidebar {
  width: 15rem;
  padding: 1.5rem;
  border-right: 1px solid var(--color-border-light);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  margin-bottom: 2.5rem;
  text-decoration: none;
}

.logoImage {
  width: 7.5rem;
  height: auto;
  object-fit: contain;
}

.navItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-text-primary);
  transition: all ease-in-out 0.3ss;
  border-radius: 0.875rem;
}
.navItem:hover {
  background-color: var(--color-bg-secondary);
}

.active {
  background-color: var(--color-bg-secondary);
  font-weight: 500;
}

.nav .navItem span {
  display: flex;
}

.navBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
  width: 100%;
  text-align: left;
  padding: 10px 12px;
}
