.sidebar {
  width: 15rem;
  color: #1c1c1c;
  padding: 1.875rem;
  background-color: #fafafa;
  border-right: 1px solid #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  margin-bottom: 2rem;
  text-decoration: none;
}

.logoImage {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.navItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 0.5rem;
  text-decoration: none;
  color: #1c1c1c;
  transition: all ease-in-out 0.3ss;
  border-radius: 0.875rem;
}
.navItem:hover {
  background-color: #e9e9e9;
}

.active {
  background-color: #e9e9e9;
  font-weight: 500;
}

.nav .navItem span {
  display: flex;
}

.navBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
  width: 100%;
  text-align: left;
  padding: 10px 12px;
}
