.tableWrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: clamp(3rem, 1vw, 1.8rem);
}

.simpleTable {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
}

.thCell {
  text-align: left;
  padding: 12px 6px;
  background: none;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 600;
}

.thCell.isSorted {
  background: red;
  color: black;
}

.thLabel {
  display: inline-block;
}

.simpleTable td {
  padding: 1.2rem 6px;
  border-bottom: 1px solid var(--color-border-light);
  vertical-align: middle;
}

.simpleTable tr:last-child td {
  border-bottom: none;
}
