.paginationContainer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 5rem;
  align-items: center;
}

.paginationInfo {
  display: flex;
  align-items: center;
  font-size: clamp(0.75rem, 1.1vw, 0.875rem);
  gap: 0.5rem;
}

.paginationText {
  font-weight: 400;
}

@media (max-width: 768px) {
  .paginationText {
    display: none;
  }
}

.itemsDropdown {
  margin: 0 3px;
  padding: 6px 10px;
  border: 1px solid var(--color-text-primary);
  border-radius: 6px;
  font-size: clamp(0.75rem, 1.1vw, 0.875rem);
  cursor: pointer;
  font-weight: 400;
}

.itemsDropdown:focus {
  outline: none;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: clamp(6px, 1vw, 10px);
}

.navBtn {
  border: none;
  cursor: pointer;
  padding: clamp(3px, 1vw, 6px);
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.navBtn:hover:not(:disabled) {
  color: var(--color-secondary-primary);
}

.navBtn:disabled {
  opacity: 0.5;
  cursor: default;
}

.pageIndicator {
  display: flex;
  gap: 5px;
}
