:root {
  /* Primary Text */
  --color-text-primary: #1c1c1c;
  --color-secondary-primary: #a09285;

  /* Backgrounds */
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #e9e9e9;

  /* Borders */
  --color-border-light: #f4f4f4;
  --color-border-darker: #acacac;

  /* Status Colors */
  --color-status-success: #22c55e;
  --color-status-success-bg: #dcfce7;
  --color-status-success-text: #166534;

  --color-status-pending: #f59e0b;
  --color-status-pending-bg: #fef3c7;
  --color-status-pending-text: #978110;

  --color-status-failed: #ef4444;
  --color-status-failed-bg: #fee2e2;
  --color-status-failed-text: #991b1b;
}
