.topbar {
  padding: 8px clamp(0.7rem, 3vw, 1.875rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-light);
}

.menuIcon {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.icon {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
