.topbar {
  height: 4.5rem;
  padding: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid red;
}
